<head>
	<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/footer.css') }}" rel="stylesheet">
</head>
<body>
	<!-- Footer -->
	<footer
		class="footer">
		{# container #}
		<div class="footer-content">
			<div
				class="row">
				{# footer-col #}
				<div class="footer-section">
					<h5>{{ "Nous contacter" |trans }}</h5>
					<li>09.72.72.39.36</li>
					<li>acleanthis@gmail.com</li>
					<li>Levallois-Perret, 1 pl. République</li>
				</div>
				<div class="footer-section">
					<h5>{{ "Liens rapides" |trans }}</h5>
					<li>
						<a href="{{ path('app_home') }}#about">{{ "Nos Valeurs" |trans }}</a>
					</li>
					<li>
						<a href="{{ path('app_home') }}#partners">{{ "Nos Partenaires" |trans }}</a>
					</li>
					<li>
						<a href="{{ path('app_home') }}#prestation">{{ "Nos Prestations" |trans }}</a>
					</li>
				</div>
				<div class="footer-section">
					<h5>{{ "Accès rapide" |trans }}</h5>
					<li>
						<a href="{{ path('app_faq') }}">{{ "FAQ" |trans }}</a>
					</li>
					<li>
						<a href=" {{ path('app_contact') }} ">{{ "Nous Contacter" |trans }}</a>
					</li>
					<li>
						<a href="">{{ "Recrutement" |trans }}</a>
					</li>
				</div>
				<div class="footer-section">
					<h5>{{ "Nous suivre" |trans }}</h5>
					<div class="social-links">
						<a href="">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="">
							<i class="fab fa-instagram"></i>
						</a>
						<a href="">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
