{% extends 'base.html.twig' %}

{% block title %}
	{{ "CleanThis - Modification de l'utilisateur" | trans }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/editProfile.css') }}">
{% endblock %}

{% block body %}
	<section class="fancy">
		<div class="backgrd">
			<p>
				<strong>{{ "MES INFORMATIONS" | trans }}</strong>
			</p>
		</div>
		<div class="profile">
			<div class="formulaire ">
				{{ form_start(form) }}
				<div class="col1">
					<div class="row1">
						{{ form_row(form.firstname) }}
					</div>
					<div class="row2">
						{{ form_row(form.phone_number) }}
					</div>
				</div>
				<div class="col2">
					<div class="row3">
						{{ form_row(form.lastname) }}
					</div>
					{# <div class="row4">
						{{ form_row(form.email) }}
					</div> #}
				</div>
				{{ form_row(form.submit) }}
				{{ form_end(form) }}
			</div>
			<div class="carte-mot-de-passe">
				<span class="label-mot-de-passe">{{ "Mot de passe" |trans }}</span>
				<span class="points">**********</span>
				<a href="/profile/edition/{{app.user.id}}/password" class="bouton-lien">{{ "Modifier" |trans }}</a>
			</div>
			<a href="/profile" class="btn btn-primary">{{ "Retour" | trans }}</a>
		</div>
	</section>
{% endblock %}
