{% extends 'base.html.twig' %}

{% block title %}
	{{ "CleanThis - Modification du mot de passe" |trans }}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('assets/css/editPasswordProfile.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<section class="fancy">
		<div class="backgrd">
			<p>
				<strong>{{ "MODIFIER MON MOT DE PASSE" |trans }}</strong>
			</p>
		</div>
		<div class="profile">
			<div class="formulaire">
				{{ form_start(form) }}
				{{ form_errors(form) }}
				{{ form_end(form) }}
			</div>
			<a href="/profile/edition/{{app.user.id}}" class="btn btn-primary" id="btn-retour">{{ "Retour" |trans }}</a>
		</div>

	</section>

{% endblock %}
