{% extends 'base.html.twig' %}

{% block title %}
	{{ "CleanThis - Mon Profile" | trans }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/css/indexProfile.css') }}">
{% endblock %}

{% block body %}
	<section class="fancy">
		<div class="backgrd">
			<p>{{ "MON PROFIL" | trans }}</p>
		</div>
		<div class="profile">
			<div class="card-deck">
				<div class="card">
					<a href="/meeting/{{app.user.id}}" class="card-link">
						<div class="card-body text-center">
							<h5 class="card-title">{{ "Vos commandes" | trans }}</h5>
							<p class="card-text">{{ "Suivi, annulation" | trans }}</p>
						</div>
					</a>
				</div>
				<div class="card">
					<a href="/profile/edition/{{app.user.id}}" class="card-link">
						<div class="card-body text-center">
							<h5 class="card-title">{{ "Connexion - Sécurité" | trans }}</h5>
							<p class="card-text">{{ "Modification adresse e-mail, nom, numéro de téléphone etc..." | trans }}</p>
						</div>
					</a>
				</div>
				<div class="card">
					<a href="/address/{{app.user.id}}" class="card-link">
						<div class="card-body text-center">
							<h5 class="card-title">{{ "Adresses" | trans }}</h5>
							<p class="card-text">{{ "Modification de vos adresses, ajout, changer l'adresse de facturation" | trans }}</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
