{% block title %}
	{{ 'CleanThis - FAQ' |trans }}
{% endblock %}

{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
	<div class="row">


		<div class="card-group">
			<div class="card">
				<img class="card-img-top" src="/assets/images/service.png" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title" style="color: #2a56a1; font-weight: bold;">{{ 'Quels services de nettoyage offrez-vous ?' | trans }}</h5>
					<p class="card-text" style="color: #666;">{{ 'Cleanthis offre une gamme complète de services de nettoyage, incluant le nettoyage résidentiel, commercial, le nettoyage après sinistre et le nettoyage en profondeur. Nous adaptons nos services en fonction des besoins spécifiques de nos clients.' | trans}}</p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="/assets/images/reservation.png" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title" style="color: #2a56a1; font-weight: bold;">{{ 'Quelle est la procédure pour obtenir un devis pour des services de nettoyage ?' | trans}}</h5>
					<p class="card-text" style="color: #666;">{{ 'Vous pouvez obtenir un devis en nous contactant via notre formulaire en ligne, par téléphone ou par email. Un membre de notre équipe examinera vos besoins et vous donnera une estimation précise.' | trans}}</p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="/assets/images/ecofaq.png" alt="Card image cap" >
				<div class="card-body">
					<h5 class="card-title" style="color: #2a56a1; font-weight: bold;">{{ 'Est-ce que Cleanthis fait usage de produits de nettoyage écologiques ?' | trans}}</h5>
					<p class="card-text" style="color: #666;">{{ 'Oui, chez Cleanthis, nous sommes engagés à protéger notre environnement. Chaque fois que cela est possible, nous utilisons des produits de nettoyage écologiques et des méthodes durables.' | trans}}</p>
			</div>
		</div>
        <div class="card">
			<img class="card-img-top" src="/assets/images/covid19.png" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title" style="color: #2a56a1; font-weight: bold;">{{ 'Quelles sont les mesures prises par Cleanthis pour assurer la sécurité de chacun lors du nettoyage pendant la période de COVID-19?' | trans}}</h5>
				<p class="card-text" style="color: #666;">{{ 'La sécurité de nos clients et employés est notre priorité absolue. Nous suivons strictement les protocoles sanitaires recommandés, incluant une utilisation de protections individuelle, la désinfection régulière de nos outils et le respect de la distanciation sociale.' | trans}}</p>
			</div>
		</div>
        <div class="card">
			<img class="card-img-top" src="/assets/images/regular.png" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title" style="color: #2a56a1; font-weight: bold;">{{ 'Est-ce que Cleanthis propose des contrats de nettoyage réguliers ?' | trans}}</h5>
				<p class="card-text" style="color: #666;">{{ 'Oui, nous offrons des contrats personnalisés pour des nettoyages réguliers en fonction de votre emploi du temps, que ce soit pour des nettoyages quotidiens, hebdomadaires ou mensuels.' | trans}}</p>
			</div>
		</div>
        <div class="card">
			<img class="card-img-top" src="/assets/images/horaire.png" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title" style="color: #2a56a1; font-weight: bold;">{{ 'Pouvez-vous me dire quand vous êtes ouverts ?' | trans}}</p>
				</h5>
				<p class="card-text" style="color: #666;">{{ 'Nous sommes disponibles du lundi au vendredi de 8h à 17h. Les interventions le dimanche peuvent être planifiées sur demande spéciale.' | trans}}</p>
			</div>
		</div>
	</div>
</div>{% endblock %}
