{% extends '@EasyAdmin/layout.html.twig' %}



{% set _content_title = 'Nouveau rendez-vous' %}

{% block page_title %}{{ _content_title }}{% endblock %}

{% block content_header %}
    <h1 class="title">{{ _content_title }}</h1>
{% endblock content_header %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Créer</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const userData = {{ userData|json_encode|raw }};
    const userSelect = document.getElementById('{{ form.selectedUser.vars.id }}');
    const addressSelect = document.querySelector('[name="{{ form.address.vars.full_name }}"]');
    const addressLabel = document.createElement('label'); // Créer un élément label
    addressLabel.textContent = 'Adresse'; // Définir le texte du label
    addressLabel.setAttribute('for', '{{ form.address.vars.id }}'); // Définir l'attribut for pour associer le label à l'élément select

    // Ajouter la classe "form-control" à l'élément select
   const existingLabel = document.querySelector('[for="{{ form.address.vars.id }}"]');
    if (existingLabel) {
        existingLabel.parentNode.removeChild(existingLabel);
    }

    // Ajouter la classe "form-control" à l'élément select
    addressSelect.classList.add('form-control');

    // Ajouter le label à votre formulaire avant l'élément select
    addressSelect.parentNode.insertBefore(addressLabel, addressSelect);

    userSelect.addEventListener('change', function() {
        const selectedUserId = this.value;
        const userAddresses = userData[selectedUserId] ? userData[selectedUserId].addresses : [];

        // Clear existing options
        while (addressSelect.options.length > 0) addressSelect.remove(0);

        // Add a placeholder
        addressSelect.add(new Option('Selectionner une adresse', ''));

        // Populate addresses dropdown
        userAddresses.forEach(function(address) {
            const option = new Option(`${address.street}, ${address.city}, ${address.zipcode}`, address.id);
            addressSelect.add(option);
        });
    });
});
</script>

{% endblock main %}

