{% extends '@EasyAdmin/layout.html.twig' %}

{% set _content_title = 'Modifier rendez-vous' %}

{% block page_title %}{{ _content_title }}{% endblock %}

{% block content_header %}
    <h1 class="title">{{ 'Modifier rendez-vous' |trans }}</h1>
{% endblock content_header %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">{{ "Modifier" |trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock main %}