{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="{{ asset('assets/css/addmeeting.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}

{% endblock %}
{% block devis %}

{% endblock %}

{% block body %}


	<title>{{ "CleanThis - Demande de devis" |trans }}</title>


	<div id="page" class="site">
		<div class="container">
			<div class="form-box">
				<div class="progress">
					<div class="logo">
						<a href="/"><img src="{{ asset('assets/images/Logo.png') }}" alt="Logo"></a>
					</div>
					<ul class="progress-steps">
						<li class="step active">
							<span>1</span>
							<p>{{ "Date" |trans }}<br><span>{{ "Date/Heure " |trans }}</span>
							</p>
						</li>
						<li class="step">
							<span>2</span>
							<p>{{ "Surface" |trans }}<br><span>{{ "Surface en m² " |trans }}</span>
							</p>
						</li>
						<li class="step">
							<span>3</span>
							<p>{{ "Description" |trans }}<br><span>{{ "Informations " |trans }}</span>
							</p>
						</li>
						<li class="step">
							<span>4</span>
							<p>{{ "Adresse" |trans }}<br><span>{{ "Où intervenir ?" |trans }}</span>
							</p>
						</li>
					</ul>
				</div>
				{{ form_start(form) }}
				<div class="form-one form-step active">
					<div class="bg-svg"><img src="{{ asset('assets/images/calendar.png') }}" alt="calendar"></div>
					<h2>{{ "Date et heure du rendez-vous:" |trans }}</h2>
					<p>{{ "Sélectionner une date et une heure à votre convenance pour votre rendez-vous." |trans }}</p>
					<div>
						<label></label>
						{{form_row(form.reservedAt) }}
					</div>
				</div>
				<div class="form-two form-step">
					<div class="bg-svg">
						<img src="{{ asset('assets/images/m2.png') }}" alt="m2">
					</div>
					<h2>{{ "Surface à nettoyer:" |trans }}</h2>
					<div>
						<p>{{ "Taille de la surface à nettoyer en " |trans }}<strong>{{ "m²" |trans }}</strong>.</p>
						{{form_row(form.floor_space) }}
					</div>
				</div>
				<div class="form-three form-step">
					<div class="bg-svg"><img src="{{ asset('assets/images/commente.png') }}" alt="Description"></div>
					<h2>{{ "Description:" |trans }}</h2>
					<div>
						<p>{{ "Merci d'entrer une description détaillée." |trans }}</p>
						{{form_row(form.description) }}
					</div>
				</div>
				<div class="form-four form-step">
					<div class="bg-svg"><img src="{{ asset('assets/images/address.png') }}" alt="Adresse"></div>
					<h2>{{ "Adresse:" |trans }}</h2>
					<div>
						<p>{{ "Selectioner l'adresse du lieu de prise en charge." |trans }}</p>
						{{form_row(form.address) }}
					</div>
				</div>

				<div class="btn-group">
					<button type="button" class="btn-prev" disabled>{{ "Précédent" |trans }}</button>
					<button type="button" class="btn-next">{{ "Suivant" |trans }}</button>
					{{form_row(form.submit)}}
				</div>
				{{form_end(form) }}
			</div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="{{ asset('assets/js/scriptAddMeeting.js') }}"></script>

	<link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">


	<script>
		document.addEventListener('DOMContentLoaded', function () {
flatpickr("#meeting_reservedAt", {
enableTime: true,
dateFormat: "Y-m-d H:i",
time_24hr: true,
minTime: "8:00",
maxTime: "17:00",
"disable": [
function (date) {
const isWeekend = (date.getDay() === 0 || date.getDay() === 6);

const today = new Date();
today.setHours(0, 0, 0, 0);

const twoDaysAfterToday = new Date();
twoDaysAfterToday.setDate(today.getDate() + 2);
twoDaysAfterToday.setHours(0, 0, 0, 0);

const isBeforeTwoDaysAfterToday = date <= twoDaysAfterToday;

return isWeekend || isBeforeTwoDaysAfterToday;
}
],
"locale": {
"firstDayOfWeek": 1
}
});
});
	</script>

{% endblock %}
