{% extends 'base.html.twig' %}

{% block title %}Mes Commandes{% endblock %}

{% block body %}


{% include '_partials/_navbar.html.twig' %}
<style>
.btn-aligned {
    position: relative;
    top: -38px; 
}
</style> 
	<div class="container mt-5">
    <h2>Vos Commandes</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Rendez-vous</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Opération</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">Terminé</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <!-- Rendez-vous -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h1 class="my-5">Vos rendez-vous</h1>
            <div class="row">
                 <div class="row align-items-md-stretch">
                 {% for meeting in meetings %}
            <div class="col-md-6 mb-3">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                <span class="float-end {{meeting.Status|meeting_status_badge}}">{{ meeting.Status|meeting_status}}</span>
                    <h2>{{ meeting.reservedAt|date('d/m/Y') }}  à {{ meeting.reservedAt|date('H:i') }} </h2>
                    <br>
                    <p>Pour une surface de : <strong> {{ meeting.floorSpace }} cm² </strong> <br> à l'adresse : <strong> {{ meeting.address }} </strong></p>
                    <br>
                    {% if meeting.status == 1 or meeting.status == 4 %}
                    <a class="btn btn-outline-light" type="button" href="{{path('app_meeting_edit', {'id': meeting.id})}}">Modifié</a>
                    {% endif %}
{% if meeting.status == 1 or meeting.status == 2 %}
                    <div class="d-flex justify-content-end ">
    <form method="post" action="{{ path('app_meeting_delete', {'id': meeting.id}) }}" onsubmit="return confirm('Êtes-vous sûr annuler votre demande de RDV ? (un opérateur va vous contacter) pour une réponse URGENTE : 01 02 03 04 ');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meeting.id) }}">
        <button class="btn btn-outline-danger btn-aligned" type="submit">Annuler</button>
    </form>
    </div>
 {% endif %}
                </div>
            </div>
             {% endfor %}
            </div>
            </div>
        </div>
        <!-- Opération -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <!-- Ici pour l'onglet Operation -->
        </div>
        <!-- Terminé -->
        <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">
            <h1 class="my-5">Historique des commandes terminées</h1>
            <div class="row">
                <!-- Ici Pour afficher les Operation bien effectuer -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
