{% extends 'base.html.twig' %}

{% block title %}
	{{ "Mes Commandes" | trans }}
{% endblock %}

{% block stylesheets %}

	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.css">
{% endblock %}

{% block body %}
	<style>
		.container {
			color: #123b61;
			margin-bottom: 2em;
		}
		.btn-aligned {
			position: relative;
			top: -38px;
		}
		#ecrasement {
			border-radius: 10px;
			border: 1px solid #dcdcdc;
			background: #F7F3EE;
			box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3), 0 15px 30px -10px rgba(0, 0, 0, 0.3);
			transition: background 0.3s;
		}
		#ecrasement:hover {
			background-color: #cbdaff;
			border-color: #3971ff !important;
			transition: background 0.3s;
		}

		.btn {
			color: #123b61 !important;
			background-color: #f5f5f5 !important;
			border: 1px solid #123b61 !important;
			cursor: pointer !important;
			transition: background-color 0.3s ease !important;
		}

		.btn:hover {
			color: #ffffff !important;
			background-color: #123b61 !important;
			border-color: #3971ff !important;
			transition: background 0.3s color 0.3s !important;
		}
	</style>

	<div class="container mt-5">
		<h2>{{ "Vos Commandes" | trans }}</h2>
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">{{ "Rendez-vous" | trans }}</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="operation-tab" data-bs-toggle="tab" data-bs-target="#operation" type="button" role="tab" aria-controls="operation" aria-selected="false">{{ "Opération" | trans }}</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="payment-tab" data-bs-toggle="tab" data-bs-target="#payment" type="button" role="tab" aria-controls="payment" aria-selected="false">{{ "Paiement" | trans }}</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="completed-tab" data-bs-toggle="tab" data-bs-target="#completed" type="button" role="tab" aria-controls="completed" aria-selected="false">{{ "Terminé" | trans }}</button>
			</li>
		</ul>

		<div
			class="tab-content" id="myTabContent">
			<!-- Onglet Rendez-vous -->
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				<h1 class="my-5">{{ "Vos rendez-vous" |trans }}</h1>
				<div class="row">
					<div class="row align-items-md-stretch">
						{% for meeting in meetings %}
							{% if meeting.status != 5 %}
								<div class="col-md-6 mb-3">
									<div class="h-100 p-5  rounded-3" id="ecrasement">
										<span class=" {{meeting.Status|meeting_status_badge}}">{{ meeting.Status|meeting_status}}</span>
										<h2>{{ meeting.reservedAt|date('d/m/Y') }}
											à
											{{ meeting.reservedAt|date('H:i') }}
										</h2>
										<br>
										<p>{{ "Pour une surface de : " |trans }}<strong>
												{{ meeting.floorSpace }}{{ " m² " |trans }}</strong>
											<br>{{ "À l'adresse : " |trans }}<strong>
												{{ meeting.address }}
											</strong>
										</p>
										<br>
										{% if meeting.status == 1 or meeting.status == 4 %}
											<a class="btn btn-outline-light" type="button" href="{{path('app_meeting_edit', {'id': meeting.id})}}">{{ "Modifier" |trans }}</a>
										{% endif %}
										{% if meeting.status == 1 or meeting.status == 2 %}
											<div class="d-flex justify-content-end ">
												<form method="post" action="{{ path('app_meeting_delete', {'id': meeting.id}) }}" onsubmit="return confirm('{{ "êtes-vous sûr annuler votre demande de rdv ? (un opérateur va vous contacter) pour une réponse urgente : 01 02 03 04" |trans }}');">
													<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meeting.id) }}">
													<button class="btn btn-outline-danger btn-aligned" type="submit">{{ "Annuler" |trans }}</button>
												</form>
												{% if meeting.status == 4 or meeting.status == 2  %}
													<form method="post" action="{{ path('app_meeting_validate', {'id': meeting.id}) }}" onsubmit="return confirm('{{ "etes-vous sur de vouloir valider ce rendez-vous ?" |trans }}');">
														<button class="btn btn-outline-success btn-aligned " type="submit">{{ "Valider" |trans }}</button>
													</form>
												{% endif %}
											</div>
										{% endif %}
										{% if meeting.status == 4   %}
											<div class="d-flex justify-content-end ">
												<form method="post" action="{{ path('app_meeting_validate', {'id': meeting.id}) }}" onsubmit="return confirm('{{ "etes-vous sur de vouloir valider ce rendez-vous ?" |trans }}');">
													<button class="btn btn-outline-success btn-aligned " type="submit">{{ "Valider" |trans }}</button>
												</form>
											</div>
										{% endif %}
									</div>
								</div>
							{% endif %}
						{% else %}
							<p>{{ "Aucun rendez-vous pour le moment." | trans }}</p>
						{% endfor %}
					</div>
				</div>
			</div>

			<!-- Onglet Opération -->
			<div class="tab-pane fade" id="operation" role="tabpanel" aria-labelledby="operation-tab">
				<h1 class="my-5">{{ "Vos Opérations" |trans }}</h1>
				<div class="row">
					<div class="row align-items-md-stretch">
						{% for operation in operations %}
							{% if operation.status != 3 %}
								<div class="col-md-6 mb-3">
									<div class="h-100 p-5  rounded-3" id="ecrasement">
										<span class=" {{operation.status|operation_statuss_badge}}">{{ operation.status|operation_statuss}}</span>
										<h2>{{ operation.intervention|date('d/m/Y H:i') }}</h2>
										<p>{{ "Surface : " |trans }}<strong>{{ operation.floorSpace }}
												m²</strong>
										</p>
										<p>{{ "Description : " |trans }}{{ operation.description }}</p>
										<p>{{ "Prix : " |trans }}{{ operation.price }}€</p>
										{% if operation.status == 2 %}
											<div class="d-flex justify-content-end ">
												<form method="post" action="{{ path('app_operation_customer_validate', {'id': operation.id}) }}" onsubmit="return confirm('{{ "etes-vous sur de vouloir valider cette opération ? " |trans }}');">
													<button class="btn btn-outline-success btn-aligned " type="submit">{{ "Valider" |trans }}</button>
												</form>
											</div>
										{% endif %}
									</div>
								</div>

							{% endif %}
						{% endfor %}
					</div>
				</div>

			</div>

			<!-- Onglet Paiement -->
			<div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
				<h1 class="my-5">{{ "Vos facture en attente de paiement" |trans }}</h1>
				<div class="row">
					<div class="row align-items-md-stretch">
						{% for belong in belongs %}
							{% if belong.invoice.status != 2 %}
								<div class="col-md-6 mb-3">
									<div class="h-100 p-5  rounded-3" id="ecrasement">
										<span class=" {{belong.invoice.status|belong_invoice_status_badge}}">{{ belong.invoice.status|belong_invoice_status}}</span>
										<h2>{{ belong.operation.intervention|date('d/m/Y H:i') }}</h2>
										<p>{{ "Surface : " |trans }}<strong>{{ belong.operation.floorSpace }}
												m²</strong>
										</p>
										<p>{{ "Description : " |trans }}{{ belong.operation.description }}</p>
										<p>{{ "Prix : " |trans }}{{ belong.invoice.amount }}€</p>
										{% if belong.invoice.status == 1 %}
											<div class="d-flex justify-content ">
												<form method="post" action="{{ path('app_invoice_to_pay', {'id': belong.invoice.id}) }}" onsubmit="return confirm('{{ " êtes-vous sur de vouloir valider cette action ? " |trans }}');">
													<div class="mb-5">

														<select name="payment_method" id="selectpaiement" class="form-control">
															<option value="">Sélectionner un moyen de paiement</option>
															<option value="Carte Bancaire">Carte Bancaire (Visa, etc...)</option>
															<option value="Chèques bancaire">Chèques bancaire</option>
															<option value="Virement bancaire">Virement bancaire</option>
														</select>
													</div>
													<button class="btn btn-outline-success btn-aligned" type="submit">{{ "Payer" |trans }}</button>
												</form>
											</div>

										{% endif %}
									</div>
								</div>

							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

			<!-- Onglet Terminé -->
			<div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
				<table id="operation-table" data-toggle="table" data-search="false" data-pagination="true">
					<thead>
						<tr>
							<th data-sortable="true" data-field="id">N° de facturation</th>
							{# <th data-sortable="true" data-field="status">Status</th> #}
							<th data-sortable="true" data-field="address">Adresse</th>
							<th data-sortable="true" data-field="floor_space">Surface(m²)</th>
							<th data-sortable="true" data-field="intervention">Date d'intervention</th>
							<th data-sortable="true" data-field="price">Prix</th>
							<th data-sortable="true" data-field="discount">Réduction</th>
							<th data-sortable="true" data-field="payment_method">Moyen de paiement</th>
							<th data-sortable="true" data-field="created_by">Client</th>
							<th data-sortable="true" data-field="action">Actions</th>
						</tr>
					</thead>
					<tbody>

						{% for belong in belongs %}
							{% if belong.invoice.status == 2 %}
								{% set meeting = belong.operation.meeting %}
								<tr>
									<td>{{ belong.invoice.id }}</td>
									{# <td>
																																														<span class="{{ belong.invoice.status|invoice_status_badge}}">{{ belong.invoice.status|invoice_status }}</span>
																																													</td> #}
									<td>{{ meeting.address }}</td>
									<td>{{ belong.operation.floorSpace }}
										m²</td>
									<td>{{ belong.operation.intervention | date('d F Y H:i') }}</td>
									<td>{{ belong.operation.price }}</td>
									<td>
										{% if  belong.operation.discount  == 0.95 %}
											5% de remise
										{% endif %}
										{% if  belong.operation.discount  == 0.90 %}
											10% de remise
										{% endif %}
										{% if  belong.operation.discount  == 0.85 %}
											15% de remise
										{% endif %}
										{% if  belong.operation.discount  == 0.80 %}
											20% de remise
										{% endif %}
									</td>
									<td>{{ belong.invoice.paymentMethod }}</td>
									<td>
										{% set userWithJobTitleNull = null %}
										{% for user in meeting.users %}
											{% if user.jobTitle == 'Null' and userWithJobTitleNull == null %}
												{% set userWithJobTitleNull = user %}
											{% endif %}
										{% endfor %}
										{{ userWithJobTitleNull ? userWithJobTitleNull.firstname : 'Non applicable' }},
										{{ userWithJobTitleNull ? userWithJobTitleNull.lastname : 'Non applicable' }}
									</td>
									<td>
										{% if belong.invoice.status == 2 %}
											<a onclick="openPdfPopup('{{ path('view_pdf', {'id': belong.operation.id}) }}')"><img src="/assets/images/pdf.jpg" alt="" style="width: 40px; cursor: pointer"></a>
											<a href="{{ path('generate_pdf', {'id': belong.operation.id}) }}"><img src="/assets/images/telecharger.png" alt="" style="width: 40px;"></a>
										{% endif %}
									</td>
								</tr>
							{% endif %}
						{% endfor %}

					</tbody>


				</table>
			</div>
		</div>
	</div>

	<script>
		function openPdfPopup(url) { // Paramètres de la fenêtre popup (ajustez selon vos besoins)
var windowFeatures = "width=800,height=600,scrollbars=yes,resizable=yes";

// Ouvrir la nouvelle fenêtre
window.open(url, 'PdfPopup', windowFeatures);
}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.js"></script>
{% endblock %}
