{% extends '@EasyAdmin/layout.html.twig' %}

{% set _content_title = 'Liste des Opérations Terminées' %}

{% block page_title -%}
{{ _content_title }}{%- endblock %}{% block content_header %}
<h1 class="title">{{ _content_title }}</h1>{% endblock content_header %}{% block main %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="/assets/css/operation.css">

<table id="operation-table" data-toggle="table" data-search="false" data-pagination="true">
	<thead>
		<tr>
			<th data-sortable="true" data-field="typeOperation">{{ "Type" |trans }}</th>
			<th data-sortable="true" data-field="status">{{ "Status" |trans }}</th>
			<th data-sortable="true" data-field="isValid">{{ "Date de fin" |trans }}</th>
			<th data-sortable="true" data-field="address">{{ "Adresse" |trans }}</th>
			<th data-sortable="true" data-field="description">{{ "Description" |trans }}</th>
			<th data-sortable="true" data-field="floor_space">{{ "Surface(m²)" |trans }}</th>
			<th data-sortable="true" data-field="intervention">{{ "Date d'intervention" |trans }}</th>
			<th data-sortable="true" data-field="price">{{ "Prix" |trans }}</th>
			<th data-sortable="true" data-field="discount">{{ "Réduction" |trans }}</th>
			<th data-sortable="true" data-field="cleanliness">{{ "Propreté" |trans }}</th>
			<th data-sortable="true" data-field="created_by">{{ "Client" |trans }}</th>
			<th data-sortable="true" data-field="operator">{{ "Opérateur" |trans }}</th>
		</tr>
	</thead>
	<tbody>
		{% set operationFound = false %}
		{% for operation in operations %}
			{% if operation.status == 3 %}
				{% set operationFound = true %}
				<tr>
					<td>{{ operation.typeOperation.label }}</td>
					<td>
						<span class="{{ operation.status|operation_status_badge }}">{{ operation.status|operation_status }}</span>
					</td>
					<td>
						{{ operation.FinishedAt | date('d M Y') }}
					</td>
					<td>
						{% if operation.meeting and operation.meeting.address %}
							{{ operation.meeting.address.street }},
							{{ operation.meeting.address.zipcode }},
							{{ operation.meeting.address.city }}
						{% else %}
							Pas d'adresse
						{% endif %}
					</td>
					<td>
						{% if operation.description|length > 20 %}
							<span class="description-truncate">{{ operation.description|slice(0, 20) }}...</span>
							<a href="#" class="read-more-link" data-bs-toggle="modal" data-bs-target="#descriptionModal{{ operation.id }}">
								{{ "Voir plus" |trans }}</a>
							<div class="modal fade" id="descriptionModal{{ operation.id }}" tabindex="-1" aria-labelledby="descriptionModal{{ operation.id }}Label" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="descriptionModal{{ operation.id }}Label">{{ "Description" |trans }}</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											{{ operation.description }}
										</div>
									</div>
								</div>
							</div>
						{% else %}
							{{ operation.description }}
						{% endif %}
					</td>
					<td>{{ operation.floorSpace }}</td>
					<td>
						{{ operation.intervention | date('d M Y H:i')  }}
					</td>
					<td>{{ operation.price }}
						€</td>
					<td>
						{% if operation.discount %}
							{{ (operation.discount - 1) * 100 }}% de Remise
						{% else %}
							Aucune réduction
						{% endif %}
					</td>
					<td>
						{% if operation.cleanliness == 1 %}
							Normal
						{% elseif operation.cleanliness == 2 %}
							Sale
						{% elseif operation.cleanliness == 3 %}
							Très sale
						{% elseif operation.cleanliness == 4 %}
							Diogène
						{% else %}
							Non spécifié
						{% endif %}
					</td>
					<td>
						{% if operation.meeting %}
							{% set userFound = false %}
							{% for user in operation.meeting.users %}
								{% if user.jobTitle == 'Null' %}
									{{ user.firstname }},
									{{ user.lastname }}
									{% set userFound = true %}
								{% endif %}
							{% endfor %}
							{% if not userFound %}
								Pas d'utilisateur
							{% endif %}
						{% else %}
							Pas de meeting
						{% endif %}
					</td>
					<td>
						{% if operation.meeting %}
							{% set lastOperator = null %}
							{% for user in operation.meeting.users %}
								{% if user.jobTitle == 'Opérateur' %}
									{% set lastOperator = user %}
								{% endif %}
							{% endfor %}
							{% if lastOperator %}
								{{ lastOperator.firstname }},
								{{ lastOperator.lastname }}
							{% else %}
								Pas d'opérateur
							{% endif %}
						{% else %}
							Pas de meeting
						{% endif %}
					</td>

				</tr>
			{% endif %}
		{% endfor %}
		{% if not operationFound %}
			<tr>
				<td colspan="12" class="text-center">{{ "Pas d'opération terminée. Retournez au travail !" |trans }}</td>
			</tr>
		{% endif %}
	</tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.js"></script>{% endblock main %}
