<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">
		<!-- Favicon -->
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{# Feuilles de styles #}
		<script src="https://kit.fontawesome.com/c97ef3498f.js" crossorigin="anonymous"></script>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% block navbar %}
			{% include '_partials/_navbar.html.twig' %}
		{% endblock %}

		{% block devis %}
			{% include '_partials/_devis.html.twig' %}
		{% endblock %}

		{% block body %}
			<!-- Main content placeholder; to be overridden by child templates -->
		{% endblock %}

		{% include '_partials/_flash.html.twig' %}

		{% for message in app.flashes('notice') %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
				<div class="alert message">
					<i class="fa-solid fa-triangle-exclamation alert-icon"></i>
					<strong class="m-1">{{ message }}</strong>
				</div>
			</div>
		{% endfor %}

		{% if app.user and not app.user.isIsVerified %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
				<div class="alert message">
					<i class="fa-solid fa-triangle-exclamation alert-icon"></i>
					<strong class="m-1">{{ "Votre compte n'est pas activé, " |trans }}</strong>
					<a href="{{ path('resend_verif') }}">
						{{ "Renvoyer le lien d'activation" |trans }}</a>
				</div>
			</div>
		{% endif %}
	</body>
	<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
</html>
