<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">
		<!-- Favicon -->
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🌐</text></svg>">
		{# Feuilles de styles #}
		<link
		rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
		<script src="https://kit.fontawesome.com/c97ef3498f.js" crossorigin="anonymous"></script>
		{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
		{% endblock %}
	</head>
	<body>
		<main>
			{% block navbar %}
				{% include '_partials/_navbar.html.twig' %}
			{% endblock %}

			{% block devis %}
				{% include '_partials/_devis.html.twig' %}
			{% endblock %}

			{% block body %}
				<!-- Main content placeholder; to be overridden by child templates -->
			{% endblock %}

			{% include '_partials/_flash.html.twig' %}

			{% for message in app.flashes('notice') %}
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
					<div class="alert message">
						<i class="fa-solid fa-triangle-exclamation alert-icon"></i>
						<strong class="m-1">{{ message }}</strong>
					</div>
				</div>
			{% endfor %}

			{% if app.user and not app.user.isIsVerified %}
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
					<div class="alert message">
						<i class="fa-solid fa-triangle-exclamation alert-icon"></i>
						<strong class="m-1">{{ "Votre compte n'est pas activé, " |trans }}</strong>
						<a href="{{ path('resend_verif') }}">
							{{ "Renvoyer le lien d'activation" |trans }}</a>
					</div>
				</div>
			{% endif %}
		</main>
	</body>
	{% block javascripts %}
		<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
		<script src="{{ asset('assets/js/scripts.js') }}" defer></script>
	{% endblock %}
</html>
