{% extends 'base.html.twig' %}

{% block title %}Mes adresses
{% endblock %}

{% block body %}


	{% include '_partials/_navbar.html.twig' %}

	<style>


		* {
			color: #123b61;
		}
		.fancy {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.backgrd {
			display: flex;
			flex-direction: unset;
			background-color: #92D4F5;
			font-weight: bold;
			color: white;
			width: 75rem;
			height: 12rem;
			border-radius: 0.8rem;
			margin-left: 0;
			top: 0;
			z-index: 0;
			position: absolute;
			top: 18%;
			border: 1px solid #c5ccbf;
			box-shadow: 0 2px 5px #c5ccbf;
		}

		.content-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 2rem;
			width: 52%;
			height: 200%;
			padding-top: 2rem;
			padding-bottom: 2rem;
			background-color: white;
			border: 2px solid #c5ccbf;
			box-shadow: 0 5px 5px #c5ccbf;
			z-index: 1;
			margin-top: 7.5rem;
			gap: 2rem;
		}

		.add-address-container {
			margin-right: 5px;
			left: 80px;
			max-width: 23rem;
			display: flex;
		}

		#card-container {
			min-height: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.card a {
			color: inherit;
			text-decoration: none;
		}

		.card a:hover {

			color: blue;
			text-decoration: none;
		}

		.card {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}

		.pricing-container {
			display: flex;
			gap: 2em;

		}

		.pricing--sonam {
			display: flex;
			gap: 2em;
			margin-left: 2em;
			margin-right: 2em;
		}

		/* Sonam */
		/*card*/
		.pricing--sonam .pricing__item {
			margin: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			cursor: default;
			border-radius: 10px;
			background: white;
			box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05), 0 15px 30px -10px rgba(0, 0, 0, 0.3);
			transition: background 0.3s;
		}

		.pricing--sonam .pricing__item:hover {
			background: #CBDAFF;
		}

		.pricing--sonam .pricing__title {
			font-size: 20px;
			font-weight: bold;
			margin-top: 0.5rem;
			border-bottom: 3px solid #92D4F5;
		}

		/* price*/
		.pricing--sonam .pricing__price {
			color: blue;
			font-size: 1.75em;
			padding: 1em 0 0.75em;
		}

		.pricing--sonam .pricing__sentence {
			font-weight: bold;
		}

		.pricing--sonam .pricing__feature-list {
			margin: 0;
			padding: 1em 1.25em 2em;
		}

		/*btn*/
		.pricing--sonam .pricing__action {
			padding: 8px 16px;
			font-size: 12px;
			color: #123b61;
			background-color: #f5f5f5;
			border: 1px solid #d0d0d0;
			margin-top: 0.5rem;
			border-radius: 4px;
			cursor: pointer;
		}
		/* hover btn */
		.pricing--sonam .pricing__action:hover,
		.pricing--sonam .pricing__action:focus {
			background-color: #123b61;
			color: white;
			transition: background 0.3s;
		}

		.pricing--sonam .pricing__action_delete {
			padding: 8px 16px;
			font-size: 12px;
			color: #123b61;
			background-color: #f5f5f5;
			border: 1px solid #d0d0d0;
			margin-top: 0.5rem;
			border-radius: 4px;
			cursor: pointer;
		}

		.pricing--sonam .pricing__action_delete:hover,
		.pricing--sonam .pricing__action_delete:focus {
			background-color: #6D071A;
			color: white;
			transition: background 0.3s;
		}

		.flex-shrink-0 {
			width: 15rem;
		}

		.backgrd p {
			color: white;
			margin-left: 1rem;
			margin-top: 0.5rem;
		}
		.house {
			width: 3rem;
			height: auto;
			margin-left: 1rem;
		}
		.balais {
			width: 2rem;
			height: auto;
			margin-top: 1rem;
		}

		.btn-primary {
			padding: 10px 20px;
			font-size: 16px;
			color: #123b61;
			background-color: #f5f5f5;
			border: 1px solid #d0d0d0;
			margin-top: 0.5rem;
			border-radius: 4px;
			cursor: pointer;
		}

		.btn-primary:hover {
			background-color: #123b61;
			transition: background 0.3s;
		}
	</style>
	<section class="fancy">
		<div class="backgrd">
			<p>MES ADRESSES</p>
		</div>
		<div class="content-container">
			<div class="add-address-container">
				<div class="d-flex">
					<div class="d-flex" id="contour" style="left: 500px;">
						<div class="card" style="width: 12.5rem; padding-left:1rem;">
							<a href="{{ path('app_address_secondary', {'id': app.user.id}) }}"><img src="{{ asset('assets/images/addAddress.png') }}" class="flex-shrink-0 me-3" alt="..."></a>
						</div>
					</div>
				</div>
			</div>
			<div class="pricing-container">
				<div class="pricing pricing--sonam">
					{% for address in addresses %}
						<div class="pricing__item">
							{% if address.isIsPrimary == true %}
								<h6 class="pricing__title">Principale</h6>
								{# <div class="pricing__price"><span class="pricing__currency"></span></div> #}
							{% endif %}
							{% if address.isIsPrimary == false %}{% endif %}

							<ul class="pricing__feature-list">
								<li class="rue">Rue :
									<strong>{{ address.street }}</strong>
								</li>
								<li class="pricing__feature">Ville :
									<strong>{{ address.city }}</strong>
								</li>
								<li class="pricing__feature">Code Postal :
									<strong>{{ address.zipcode }}</strong>
								</li>
							</ul>
							<a href="{{ path('app_address_edit', {'id': address.id}) }}" class="btn  pricing__action">Modifier</a>
							{% if address.isIsPrimary == false %}
								<form method="post" action="{{ path('app_address_delete', {'id': address.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette adresse ?');" class="mb-0">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address.id) }}">
									<button type="submit" class="pricing__action_delete mb-2">Supprimer</button>
								</form>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
			<a href="/profile" class="btn btn-primary" id="btn-retour">Retour</a>
		</div>

	</div>

</section>{% endblock %}
