{% extends 'base.html.twig' %}

{% block title %}
	{{ "Mes adresses" |trans }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/css/indexAddress.css') }}">
{% endblock %}

{% block body %}
	<section class="fancy">
		<div class="backgrd">
			<p><strong>{{ "MES ADRESSES" |trans }}</strong></p>
		</div>
		<div class="profile">
			<div class="add-address-container">
				<div class="d-flex">
					<div class="d-flex" id="contour" style="left: 500px;">
						<div class="card" style="width: 12.5rem; padding-left:1rem; margin-bottom:2rem;">
							<a href="{{ path('app_address_secondary', {'id': app.user.id}) }}"><img src="{{ asset('assets/images/addAddress.png') }}" class="flex-shrink-0 me-3" alt="..."></a>
						</div>
					</div>
				</div>
			</div>
			<div class="pricing-container">
				<div class="pricing pricing--sonam">
					{% for address in addresses %}
						<div class="pricing__item">
							{% if address.isIsPrimary == true %}
								<h6 class="pricing__title">{{ "Principale" |trans }}</h6>
								{# <div class="pricing__price"><span class="pricing__currency"></span></div> #}
							{% endif %}
							{% if address.isIsPrimary == false %}{% endif %}

							<ul class="pricing__feature-list">
								<li class="rue">{{ "Rue :" |trans }}
									<strong>{{ address.street }}</strong>
								</li>
								<li class="pricing__feature">{{ "Ville :" |trans }}
									<strong>{{ address.city }}</strong>
								</li>
								<li class="pricing__feature">{{ "Code Postal :" |trans }}
									<strong>{{ address.zipcode }}</strong>
								</li>
							</ul>
							<a href="{{ path('app_address_edit', {'id': address.id}) }}" class="btn  pricing__action">{{ "Modifier" |trans }}</a>
							{% if address.isIsPrimary == false %}
								<form method="post" action="{{ path('app_address_delete', {'id': address.id}) }}" onsubmit="return confirm('{{ "êtes-vous sûr de vouloir supprimer cette adresse ?" |trans }}');" class="mb-0">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address.id) }}">
									<button type="submit" class="pricing__action_delete mb-2">{{ "Supprimer" |trans }}</button>
								</form>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
			<a href="/profile" class="btn btn-primary" id="btn-retour">{{ "Retour" |trans }}</a>
		</div>

	</div>

</section>{% endblock %}