<h1>{{ "Réinitialisation de votre mot de passe" |trans }}</h1>
<p>{{ "Bonjour " |trans }}{{ user.firstname }} {{ user.lastname }}, </p>
<p>{{ "Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien ci-dessous :" |trans }}</p>
<p><a href="{{ url|raw }}">{{ "Nouveau mot de passe" |trans }}</a></p>
<p>{{ "Merci de renseigner la totalité des champs." |trans }}</p>