<h1>{{ "Activez votre compte" |trans }}</h1>
<p>{{ "Bonjour " |trans }}{{ user.firstname }} {{ user.lastname }},</p>
<p>{{ "Votre inscription sur notre site CleanThis est à valider en cliquant sur le lien ci-dessous :" |trans }}</p>
<p><a href="{{ absolute_url(path('verify_user', {jwtToken: jwtToken})) }}">{{ "Confirmation de votre compte client" |trans }}</a></p>
<p>{{ "Ce lien expirera dans 3 heures." |trans }}</p>